[submodule "Surelog"]
	path = Surelog
	url = https://github.com/alainmarcel/Surelog.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/antmicro/verilator.git
	branch = uhdm-verilator
[submodule "yosys"]
	path = yosys
	url = https://github.com/antmicro/yosys.git
	branch = uhdm-yosys
[submodule "vcddiff"]
	path = vcddiff
	url = https://github.com/veripool/vcddiff
[submodule "tests/ibex/ibex"]
	path = tests/ibex/ibex
	url = https://github.com/lowRISC/ibex.git
